p {
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Playwrite+IT+Moderna:wght@100..400&display=swap');


h2 {
    font-family: "Playwrite IT Moderna", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: MinhaFonte;
    src: url('../fonts/FiraSans-ExtraBold.ttf');
}

h3{
    font-family: "MinhaFonte";
    /* font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal; */
}

